

body {
  background: #333;
  /*color: #fff;*/
   }

.container{
  border-bottom-color:1px solid white;
   }
  
  .nav-item:hover{
transition-duration: .5s;
transform:scale(1.1);


background-color:none;
  }
  @media(max-width: 576px)
{
   .nav-item
  {
text-align: start;


  }
  .nav-item:hover
  {
    border:none;

  }
  

  .nav-item:hover{

transform:scale(1.01);
transition-delay: 0.1s;
font-color:white;

}
  
}